node_modules/
dist/
.next/
.vercel/
.env
.env.local
.env.*.local

Backend/src/data/store.json
Frontend/node_modules/
Frontend/dist/
Backend/node_modules/

npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

.DS_Store
Thumbs.db
